*{
    font-family:Roboto,sans-serif;
    
}


header{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 90px;
    position:relative;
}



nav{
    position: absolute;
    top:0;
    right: 0;
    left:0;
    z-index:2;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 50px,60px,0, 60px;
}
nav li{
    list-style: none;
    display:inline-block ;
    
    padding-left: 10px;
}
nav li span{

    right: 30px;
}
li a{
    
    background-color: #fff;
    text-decoration: none;
}

.separation{
    width:300px;
    height: 400px;
    /* margin-left: 4px;
    margin-right: 4px; */
    position: relative;
    overflow: hidden;
}
.hat1{
    background-image: url("https://i.ibb.co/ZYW3VTp/brown-brim.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.hat2{
    background-image: url("https://i.ibb.co/ypkgK0X/blue-beanie.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.hat3{
    background-image: url("https://i.ibb.co/QdJwgmp/brown-cowboy.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.hat4{
    background-image: url("https://i.ibb.co/RjBLWxB/grey-brim.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.sneaker1{
    background-image: url("https://i.ibb.co/0s3pdnc/adidas-nmd.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.sneaker2{
    background-image: url("https://i.ibb.co/dJbG1cT/yeezy.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.sneaker3{
    background-image: url("https://i.ibb.co/bPmVXyP/black-converse.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.sneaker4{
    background-image: url("https://i.ibb.co/1RcFPk0/white-nike-high-tops.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.jackets1{
    background-image: url("https://i.ibb.co/XzcwL5s/black-shearling.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.jackets2{
    background-image: url("https://i.ibb.co/mJS6vz0/blue-jean-jacket.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.jackets3{
    background-image: url("https://i.ibb.co/N71k1ML/grey-jean-jacket.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.jackets4{
    background-image: url("https://i.ibb.co/s96FpdP/brown-shearling.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}

.woman1{
    background-image: url("https://i.ibb.co/7CQVJNm/blue-tank.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.woman2{
    background-image: url("https://i.ibb.co/4W2DGKm/flora1-blouse.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.woman3{
    background-image: url("https://i.ibb.co/KV18Ysr/flora1-skirt.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.woman4{
    background-image: url("https://i.ibb.co/N3BN1bh/red-polka-dot-dress.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.men1{
    background-image: url("https://i.ibb.co/xJS0T3Y/camo-vest.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.men2{
    background-image: url( "https://i.ibb.co/qMQ75QZ/flora1-shirt.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.men3{
    background-image: url("https://i.ibb.co/55z32tw/long-sleeve.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}
.men4{
    background-image: url("https://i.ibb.co/RvwnBL8/pink-shirt.png");
    width: 290px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px;
}

img{
    width:280px;
    height: 320px;
}
.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    
}

.cart a {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

 
.add-cart{
    position: absolute;
    width:200px;
    background-color: #fff;
    transition: all 0.3s ease-in-out ;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    left: 49px;
    bottom: 60px;
     border: 1px solid #000;
     color: #000;
    
}
.price-gap{
    right: 0;
    position: absolute;
}
.add-cart:hover{
    background-color: black;
    color:#fff;
}
.item-count{
    top:7px;
    right:12px;
    position: absolute;
    color: #000;
}

.separation:hover .cart1,
.separation:hover .cart2,
.separation:hover .cart3,
.separation:hover .cart4,
.separation:hover .cart5,
.separation:hover .cart6,
.separation:hover .cart7,
.separation:hover .cart8,
.separation:hover .cart9{
    bottom: 50px;
    opacity: 1;
    padding:10px;
    text-decoration: none;
}

/* ---------------------CART PAGE------------------------ */
.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.product-header{
    width:100%;
    max-width: 650px;
    display:flex;
    justify-content: flex-start;
    border-bottom:solid lightgrey;
    margin: 0 auto;
}
.product-title{
width: 45%;
}
.price{
    width: 15%;
    border-bottom:solid lightgrey;
    display:flex;
    align-items: center;
}
.quantity{
    width: 15%;
    border-bottom:solid lightgrey;
    display:flex;
    align-items: center;
}
.designation{
    width: 15%;
    border-bottom:solid lightgrey;
    display:flex;
    align-items: center;
    margin-right: 5px;
}
.total{
    width: 15%;
    border-bottom:solid lightgrey;
    display:flex;
    align-items: center;
}
.remove{
    width: 15%;
    border-bottom:solid lightgrey;
    display:flex;
    align-items: center;
}